<%= form_for([@post, PostComment.new]) do |f| %>

  <div class="form-group">
    <%= f.text_area :body, class: "form-control", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Dodaj komentarz", class: "btn btn-primary" %>
  </div>
<% end %>
