<%= div_for(post_comment) do %>
    <div class="post_comment_content">
        <p class="post_comment_name"><strong><%= post_comment.name %></strong></p>
        <p class="post_comment_body"><%= post_comment.body %></p>
    </div>
<% end %>