

<% if @allow %>
    <%= link_to '', @link, class: "btn btn-default fa fa-reply", title: "Powrót do linku" %>
    <h1>Zmień</h1>
    <%= render 'form', link: @link %>
<% else %>
    <%= link_to '', links_path, class: "btn btn-default fa fa-reply", title: "Powrót do strony głównej" %>
<% end %>
