<%= stylesheet_link_tag "/assets/link.css" %>

<%= link_to '', links_path, class: "btn btn-default fa fa-reply", title: "Powrót do strony głównej" %>

<h1>Dodaj link</h1>

<%= render 'form', link: @link %>
