$('#comments').append('<div id="comments"><%= j render @comments %></div>');
<% if @comments.next_page %>
    $('.pagination').replaceWith('<%= j will_paginate @comments, renderer: BootstrapPagination::Rails %>');
<% else %>
    $(window).off('scroll');
    $('#infinite-scrolling').remove();
<% end %>